<h1>Update your Tool</h1>
<p>Complete the form below to update your listing.</p>
<%= form_with(model: @tool, url: tool_path(@tool), local: true) do |form| %>
  <% if @tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tool.errors.count, "error") %> prohibited this from being saved:</h2>

      <ul>
      <% @tool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <%= render 'form', form: form %>
  <% end %>