<h1>Tools#new</h1>
<p>Find me in app/views/tools/new.html.erb</p>
<%= form_with(model: @tool, url: tools_path(@tool), local: true) do |form| %>
  <% if @tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tool.errors.count, "error") %> prohibited this from being saved:</h2>

      <ul>
      <% @tool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render 'form', form: form %>

  <% end %>

