<h1>Tools#new</h1>
<p>Find me in app/views/tools/new.html.erb</p>

<% price %> integer
<% name %>
<% brand %>
<% model %> 
<% description %> text_area
<% availability %> checkbox
<% delivery_options %> collection_select
<% delivery_fee %> decimal
<% min_delivery_fee %> decimal

