<%= form.hidden_field :start_date, id: 'start_date' %>
<%= form.hidden_field :end_date, id: 'end_date' %>
<div class="field">
  <%= form.label :dates %><br>
  <%= form.text_field :dates, id:'dates' %>
</div>

